<div class="navbar sticky top-0 z-50 bg-base-100 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        <li>
          <a routerLink="/admin/users">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <g
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
              >
                <path d="M15.5 11a3.5 3.5 0 1 0-7 0a3.5 3.5 0 0 0 7 0" />
                <path
                  d="M15.483 11.35q.484.149 1.017.15a3.5 3.5 0 1 0-3.483-3.85m-2.034 0a3.5 3.5 0 1 0-2.466 3.7M22 16.5c0-2.761-2.462-5-5.5-5m1 8c0-2.761-2.462-5-5.5-5s-5.5 2.239-5.5 5"
                />
                <path d="M7.5 11.5c-3.038 0-5.5 2.239-5.5 5" />
              </g>
            </svg>
            Usuarios
          </a>
        </li>
        <li>
          <a routerLink="/admin/vacants">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
              <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                <path d="M8 7h8" />
                <path d="M10 7V5.5A1.5 1.5 0 0 1 11.5 4h1A1.5 1.5 0 0 1 14 5.5V7" />
                <rect x="3" y="7" width="18" height="13" rx="2" />
              </g>
            </svg>
            Vacantes
          </a>
        </li>
        <li>
          <a routerLink="/admin/candidates">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
              <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                <circle cx="9" cy="9" r="3" />
                <circle cx="17" cy="10" r="2.5" />
                <path d="M3 19c0-2.8 2.7-5 6-5s6 2.2 6 5" />
              </g>
            </svg>
            Candidatos
          </a>
        </li>
        <li>
          <a routerLink="/admin/departments">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
              <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                <rect x="3" y="10" width="6" height="10" />
                <rect x="9" y="6" width="6" height="14" />
                <rect x="15" y="3" width="6" height="17" />
              </g>
            </svg>
            Departamentos
          </a>
        </li>
        <li>
          <a routerLink="/admin/positions">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
              <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                <path d="M4 18h16" />
                <path d="M6 18V8h12v10" />
                <path d="M9 8V5h6v3" />
              </g>
            </svg>
            Puestos
          </a>
        </li>
        <li>
          <a routerLink="/admin/employees">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
              <path class="stroke-base-content" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M17 20h5V16c0-1.5-1-3-3-3m-14 7H0V16c0-1.5 1-3 3-3m9-3a4 4 0 1 0 0-8 4 4 0 0 0 0 8Zm-6-7A3 3 0 1 0 5 3a3 3 0 0 0 0 6Zm12 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12 16h0c-2.5 0-5 1.5-5 4v0h10v0c0-2.5-2.5-4-5-4Z"/>
            </svg>
            Empleados
          </a>
        </li>
      </ul>
    </div>
    <a class="btn btn-ghost text-2xl md:text-xl"> SIRU </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a routerLink="/admin/users">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
            >
              <path d="M15.5 11a3.5 3.5 0 1 0-7 0a3.5 3.5 0 0 0 7 0" />
              <path
                d="M15.483 11.35q.484.149 1.017.15a3.5 3.5 0 1 0-3.483-3.85m-2.034 0a3.5 3.5 0 1 0-2.466 3.7M22 16.5c0-2.761-2.462-5-5.5-5m1 8c0-2.761-2.462-5-5.5-5s-5.5 2.239-5.5 5"
              />
              <path d="M7.5 11.5c-3.038 0-5.5 2.239-5.5 5" />
            </g>
          </svg>
          Usuarios
        </a>
      </li>
      <li>
        <a routerLink="/admin/vacants">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
            >
              <path d="M8 7h8" />
              <path d="M10 7V5.5A1.5 1.5 0 0 1 11.5 4h1A1.5 1.5 0 0 1 14 5.5V7" />
              <rect x="3" y="7" width="18" height="13" rx="2" />
              <path d="M3 12h18" />
            </g>
          </svg>
          Vacantes
        </a>
      </li>
      <li>
        <a routerLink="/admin/candidates">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
              <circle cx="9" cy="9" r="3" />
              <circle cx="17" cy="10" r="2.5" />
              <path d="M3 19c0-2.8 2.7-5 6-5s6 2.2 6 5" />
            </g>
          </svg>
          Candidatos
        </a>
      </li>
      <li>
        <a routerLink="/admin/departments">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
              <rect x="3" y="10" width="6" height="10" />
              <rect x="9" y="6" width="6" height="14" />
              <rect x="15" y="3" width="6" height="17" />
            </g>
          </svg>
          Departamentos
        </a>
      </li>
      <li>
        <a routerLink="/admin/positions">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
              <path d="M4 18h16" />
              <path d="M6 18V8h12v10" />
              <path d="M9 8V5h6v3" />
            </g>
          </svg>
          Puestos
        </a>
      </li>
      <li>
        <a routerLink="/admin/employees">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path class="stroke-base-content" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M17 20h5V16c0-1.5-1-3-3-3m-14 7H0V16c0-1.5 1-3 3-3m9-3a4 4 0 1 0 0-8 4 4 0 0 0 0 8Zm-6-7A3 3 0 1 0 5 3a3 3 0 0 0 0 6Zm12 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12 16h0c-2.5 0-5 1.5-5 4v0h10v0c0-2.5-2.5-4-5-4Z"/>
          </svg>
          Empleados
        </a>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <button class="btn btn-ghost" (click)="logout()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
          class="stroke-primary"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          d="M14.5 6c-.047-1.093-.185-1.79-.598-2.326a3 3 0 0 0-.554-.554c-.81-.62-1.985-.62-4.335-.62h-.501c-2.834 0-4.251 0-5.132.879c-.88.878-.88 2.293-.88 5.121v7c0 2.828 0 4.243.88 5.121s2.298.879 5.132.879h.5c2.351 0 3.526 0 4.336-.62q.314-.241.554-.554c.413-.536.551-1.233.598-2.326m6-6h-12m9.5 3.5s3.5-2.578 3.5-3.5S18 8.5 18 8.5"
        />
      </svg>
      <span class="hidden md:block text-primary"> Cerrar sesión </span>
    </button>
  </div>
</div>
<div class="min-h-screen bg-base-200 p-4 md:p-6">
  <div class="w-full">
    <router-outlet />
  </div>
</div>
<div class="dock dock-md bg-base-200 sticky bottom-0 md:hidden">
  <button routerLink="/admin/users">
    <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <g fill="currentColor" stroke-linejoin="miter" stroke-linecap="butt">
        <circle cx="12" cy="8" r="3" fill="none" stroke="currentColor" stroke-width="2"></circle>
        <path d="M4 20c0-3.314 3.582-6 8-6s8 2.686 8 6" fill="none" stroke="currentColor" stroke-width="2"></path>
      </g>
    </svg>
    <span class="dock-label">Usuarios</span>
  </button>

  <button routerLink="/admin/vacants">
    <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <g fill="currentColor" stroke-linejoin="miter" stroke-linecap="butt">
        <rect x="3" y="7" width="18" height="13" rx="2" fill="none" stroke="currentColor" stroke-width="2"></rect>
        <path d="M8 7V5.5A1.5 1.5 0 0 1 9.5 4h5A1.5 1.5 0 0 1 16 5.5V7" fill="none" stroke="currentColor" stroke-width="2"></path>
      </g>
    </svg>
    <span class="dock-label">Vacantes</span>
  </button>

  <button routerLink="/admin/candidates">
    <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <g fill="currentColor" stroke-linejoin="miter" stroke-linecap="butt">
        <circle cx="9" cy="9" r="2.5" fill="none" stroke="currentColor" stroke-width="2"></circle>
        <circle cx="16" cy="10" r="2" fill="none" stroke="currentColor" stroke-width="2"></circle>
        <path d="M3.5 19c0-2.6 2.46-4.5 5.5-4.5s5.5 1.9 5.5 4.5" fill="none" stroke="currentColor" stroke-width="2"></path>
      </g>
    </svg>
    <span class="dock-label">Candidatos</span>
  </button>

  <button routerLink="/admin/departments">
    <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-linecap="round" stroke-width="2">
        <rect x="3" y="10" width="6" height="10"></rect>
        <rect x="9" y="6" width="6" height="14"></rect>
        <rect x="15" y="3" width="6" height="17"></rect>
      </g>
    </svg>
    <span class="dock-label">Deptos</span>
  </button>

  <button routerLink="/admin/positions">
    <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-linecap="round" stroke-width="2">
        <path d="M4 18h16"></path>
        <path d="M6 18V8h12v10"></path>
        <path d="M9 8V5h6v3"></path>
      </g>
    </svg>
    <span class="dock-label">Puestos</span>
  </button>

  <button routerLink="/admin/employees">
    <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path class="stroke-base-content" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5V16c0-1.5-1-3-3-3m-14 7H0V16c0-1.5 1-3 3-3m9-3a4 4 0 1 0 0-8 4 4 0 0 0 0 8Zm-6-7A3 3 0 1 0 5 3a3 3 0 0 0 0 6Zm12 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12 16h0c-2.5 0-5 1.5-5 4v0h10v0c0-2.5-2.5-4-5-4Z"/>
    </svg>
    <span class="dock-label">Emps</span>
  </button>
</div>
