<!-- Pagination -->
<div class="flex flex-col sm:flex-row items-center justify-between gap-4 mt-6">
  <p class="text-sm text-base-content/60 order-2 sm:order-1">
    Mostrando <span class="font-medium text-base-content">{{ getActualItemsRange() }}</span> de <span
      class="font-medium text-base-content">{{ totalCount() }}</span> resultados
  </p>
  <div class="join order-1 sm:order-2">
    <button [class.btn-disabled]="!hasPreviousPage()" [routerLink]="[]" [queryParams]="{ page: previousPage() }" class="join-item btn btn-sm">«</button>
    <button class="join-item btn btn-sm">Página {{ currentPage() }}</button>
    <button [class.btn-disabled]="!hasNextPage()" [routerLink]="[]" [queryParams]="{ page: nextPage() }" class="join-item btn btn-sm">»</button>
  </div>
</div>
