<!-- TODO: Hacer el header responsive para móvil -->

<div class="hero min-h-[40vh] bg-linear-to-b from-primary to-secondary rounded-3xl">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">{{ header().Title }}</h1>
            <p class="py-6">{{ header().Description }}</p>
            <div class="flex gap-2">
                <input type="text" placeholder="Puesto o tecnología..." class="input input-bordered w-full shadow-sm" />
                <button class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </div>
</div>