@if (hasError()) {
<desktop-error [errors]="errorMessage() ?? 'Credenciales incorrectas'" />
}

<mobile-error #errorModal [errors]="errorMessage() ?? 'Credenciales incorrectas'" />

@if (isSuccess()) {
  <reset-password-success />
} @else {
  <div
    class="card h-screen md:h-auto bg-transparent md:bg-base-100 w-full md:max-w-sm rounded-none md:rounded-box shadow-none md:shadow-2xl mx-auto">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="card-body justify-center">
      <h2 class="text-3xl md:text-2xl font-bold text-center">Restablecer Contraseña</h2>
      <div class="self-center py-2">
        <svg class="w-auto h-40 md:h-24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 799.031 618.112" role="img" artist="Katerina Limpitsouni"
          source="https://undraw.co/">
          <g transform="translate(-560 -231.001)">
            <path
              class="fill-base-300"
              d="M15.18,488.763c0,.872.478,1.573,1.073,1.573h535.1c.6,0,1.073-.7,1.073-1.573s-.478-1.573-1.073-1.573H16.253C15.658,487.191,15.18,487.891,15.18,488.763Z"
              transform="translate(674.711 358.776)" />
            <rect class="fill-base-300" width="19.105" height="3.371" transform="translate(865.162 842.354)" />
            <rect class="fill-base-300" width="19.105" height="3.371" transform="translate(1034.295 842.918)" />
            <path class="fill-base-200" d="M352.955,370.945a27.529,27.529,0,0,1-54.321,0H229.146V521.536h193.3V370.945Z"
              transform="translate(633.721 321.378)" />
            <rect class="fill-base-content" width="193.296" height="5.242" transform="translate(863.43 830.984)" />
            <path
              class="fill-base-300"
              d="M788.255,487.17H10.776A10.788,10.788,0,0,1,0,476.394V32.688A10.788,10.788,0,0,1,10.776,21.911H788.255a10.789,10.789,0,0,1,10.776,10.776V476.394a10.789,10.789,0,0,1-10.776,10.776Z"
              transform="translate(560 209.09)" />
            <rect class="fill-base-100" width="760.822" height="429.297" transform="translate(577.104 246.057)" />
            <rect class="fill-secondary" width="257" height="32" rx="16" transform="translate(832 486)" />
            <g transform="translate(14 -27)">
              <rect class="fill-base-300" width="257" height="32" rx="16" transform="translate(818 465)" />
              <circle class="fill-base-content" cx="6" cy="6" r="6" transform="translate(830 475)" />
              <circle class="fill-base-content" cx="6" cy="6" r="6" transform="translate(850 475)" />
              <circle class="fill-base-content" cx="6" cy="6" r="6" transform="translate(870 475)" />
              <circle class="fill-base-content" cx="6" cy="6" r="6" transform="translate(890 475)" />
              <circle class="fill-base-content" cx="6" cy="6" r="6" transform="translate(910 475)" />
              <circle class="fill-base-content" cx="6" cy="6" r="6" transform="translate(930 475)" />
              <circle class="fill-base-content" cx="6" cy="6" r="6" transform="translate(950 475)" />
              <circle class="fill-base-content" cx="6" cy="6" r="6" transform="translate(970 475)" />
              <circle class="fill-base-content" cx="6" cy="6" r="6" transform="translate(990 475)" />
            </g>
            <circle class="fill-base-200" cx="24" cy="24" r="24" transform="translate(937 324)" />
            <g transform="translate(14 2.113)">
              <g transform="translate(0 50.88)">
                <rect class="fill-base-200" width="48" height="8" transform="translate(977 364)" />
                <path class="fill-secondary" d="M0,0H44a4,4,0,0,1,4,4V4a4,4,0,0,1-4,4H0A0,0,0,0,1,0,8V0A0,0,0,0,1,0,0Z"
                  transform="translate(1027 364)" />
                <path class="fill-base-200" d="M4,0H48a0,0,0,0,1,0,0V8a0,0,0,0,1,0,0H4A4,4,0,0,1,0,4V4A4,4,0,0,1,4,0Z"
                  transform="translate(927 364)" />
              </g>
              <g transform="translate(-84 -112)">
                <ellipse class="fill-success" cx="8.88" cy="8.88" rx="8.88" ry="8.88" transform="translate(902 522)" />
                <path
                  class="fill-neutral-content"
                  d="M296.891,358.937a.987.987,0,0,1-.79-.4l-2.423-3.23a.988.988,0,1,1,1.58-1.185l1.585,2.113,4.071-6.106a.988.988,0,0,1,1.644,1.1l-4.845,7.268a.988.988,0,0,1-.794.44Z"
                  transform="translate(612.52 176.307)" />
              </g>
            </g>
          </g>
        </svg>
      </div>
      <section class="py-4 md:py-2">
        <label class="label text-xl md:text-sm font-semibold md:font-normal">Contraseña</label>
        <label class="input input-lg md:input-md w-full">
          <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
              <path
                d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z">
              </path>
              <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
            </g>
          </svg>
          <input formControlName="password" type="password" placeholder="Contraseña" />
        </label>
        <form-error-label [control]="resetPasswordForm.get('password')!" />
      </section>

      <section class="pb-8 md:pb-6">
        <label class="label text-xl md:text-sm font-semibold md:font-normal">Confirmar contraseña</label>
        <label class="input input-lg md:input-md w-full">
          <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
              <path
                d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z">
              </path>
              <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
            </g>
          </svg>
          <input formControlName="confirmPassword" type="password" placeholder="Confirmar contraseña" />
        </label>
        <form-error-label [control]="resetPasswordForm.get('confirmPassword')!" />
        @if (resetPasswordForm.errors && resetPasswordForm.touched && resetPasswordForm.get('confirmPassword')!.errors == null) {
          <span class="text-error text-base md:text-sm">Las contraseñas deben ser iguales</span>
        }
      </section>
      <button type="submit" class="btn btn-secondary btn-lg md:btn-md">
        @if (isPosting()){
          <span class="loading loading-spinner loading-md"></span>
        } @else {
          Restablecer
        }
      </button>
      <section class="hidden self-center pt-2">
        <label class="label">
          <a routerLink="/auth/forgot-password"
            class="label-text-alt text-lg md:text-sm link link-primary link-hover">¿Olvidaste tu contraseña?</a>
        </label>
      </section>
    </form>
  </div>
}
